#### Introduction Serial and Data Frames to process Files

In [7]:
import pandas as pd

In [3]:
dict_data = {'a' :1 ,'b':2,'c':3}

In [42]:
ser1 = pd.Series(dict_data)
ser1

a    1
b    2
c    3
dtype: int64

In [6]:
ser1.index

Index(['a', 'b', 'c'], dtype='object')

In [9]:
ser1.values

array([1, 2, 3], dtype=int64)

In [43]:
List_data = ['2004-07-01',3.14,'ABC',100,True]
ser2 = pd.Series(List_data)

In [11]:
ser2

0    2004-07-01
1          3.14
2           ABC
3           100
4          True
dtype: object

In [44]:
df = pd.DataFrame({"Name":["Vo Tri Thuc" , "Nguyen Hai Anh","Doan Huu Phong"]
              ,"Age" :[20,20,21],
              "Sex" : ["male", "female","male"]})

In [17]:
df['Age']

0    20
1    20
2    21
Name: Age, dtype: int64

In [19]:
df['Name'][0]

'Vo Tri Thuc'

In [45]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [23]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [26]:
df[1]

0    2
1    5
2    8
Name: 1, dtype: int64

In [29]:
eye = pd.Series({'Brown':220,'Blue':215,'Green':64,'Hazel' :93})
eye

Brown    220
Blue     215
Green     64
Hazel     93
dtype: int64

In [31]:
eye.index

Index(['Brown', 'Blue', 'Green', 'Hazel'], dtype='object')

In [34]:
eye.name="eye colors"
eye

Brown    220
Blue     215
Green     64
Hazel     93
Name: eye colors, dtype: int64

In [36]:
eye.sort_values()
eye.sort_index()

Blue     215
Brown    220
Green     64
Hazel     93
Name: eye colors, dtype: int64

In [37]:
my_data2= [220,215,93,64,64]
eye2 =pd.Series(data = my_data2, index =['Brown','Blue','Blue','Green','Hazel'])
eye2

Brown    220
Blue     215
Blue      93
Green     64
Hazel     64
dtype: int64

In [38]:
eye2.unique()

array([220, 215,  93,  64], dtype=int64)

#### Data Frame with read file

In [56]:

df = pd.read_csv('\C\Users\Downloads\Chapter3\data_Iris.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2771308216.py, line 1)

In [3]:
import os 
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: c:\Users\PV\Documents\laptrinh\PythonProject\Khoahocdulieuproject(AI)

In [4]:
os.chdir(r'C:\Users\PV\Downloads\Chapter 3')

In [5]:
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: C:\Users\PV\Downloads\Chapter 3

In [8]:
iris_df = pd.read_csv('data_Iris.csv',header='infer')

In [68]:
iris_df.head() # Head funtion to excute 5 firstly datas in file to fixed on type of data in Csv file

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris_df.tail() # Head funtion to excute 5 finaly datas in file to fixed on type of data in Csv file

In [69]:
os.chdir(r'C:\Users\PV\Documents\laptrinh\PythonProject\Khoahocdulieuproject(AI)')