### 1. Statistics with Pandas:

In [1]:
import pandas as pd
import numpy as np
import os

#### 1.1. Read data into a DataFrame:

In [2]:

os.chdir(r'C:\Users\PV\Downloads\Chapter 3')
print("Thư mục làm việc hiện tại:", os.getcwd())

Thư mục làm việc hiện tại: C:\Users\PV\Downloads\Chapter 3

In [3]:
df = pd.read_csv('data_Iris.csv',header='infer')

In [4]:
df.shape

(150, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### 1.2. Statistics using DataFrame methods:

In [8]:
df1 = df.copy()
df1.drop('Species',axis=1, inplace=True)

In [9]:
df1.mean(axis=0)

Sepal.Length    5.843333
Sepal.Width     3.054000
Petal.Length    3.758667
Petal.Width     1.198667
dtype: float64

In [10]:
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
# Correlation.
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Sepal.Width'])

-0.10936924995064935

In [12]:
# Correlation.
df.loc[:,'Sepal.Length'].corr(df.loc[:,'Petal.Length'])

0.8717541573048714

In [13]:
# Correlation matrix.
np.round(df1.corr(),3)

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length         1.000       -0.109         0.872        0.818
Sepal.Width         -0.109        1.000        -0.421       -0.357
Petal.Length         0.872       -0.421         1.000        0.963
Petal.Width          0.818       -0.357         0.963        1.000

In [14]:
# Correlation with respect to one variable (column).
df1.corrwith(df.loc[:,'Petal.Length'])

Sepal.Length    0.871754
Sepal.Width    -0.420516
Petal.Length    1.000000
Petal.Width     0.962757
dtype: float64

#### 1.3. Slice and then apply a statistic method:

In [15]:
df.Species.value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [16]:
df.Species=='virginica'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: Species, Length: 150, dtype: bool

### 2. Missing values:

First of all, we purposefully enter the missing values:

In [17]:
df.iloc[10,0] = np.nan
df.iloc[2,2] = np.nan
df.iloc[17,2] = np.nan
df.iloc[2,3] = np.nan
df.iloc[129,2] = np.nan

In [18]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           NaN          NaN  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### 2.1. Statistics of the missing values:

In [19]:
# Count non-missing values per column.
df.count(axis=0)

Sepal.Length    149
Sepal.Width     150
Petal.Length    147
Petal.Width     149
Species         150
dtype: int64

In [20]:
# Calculate the averages skipping the missing values.
df.drop(columns='Species').mean(axis=0)                                 # 'Species' column is left out.

Sepal.Length    5.846309
Sepal.Width     3.054000
Petal.Length    3.777551
Petal.Width     1.205369
dtype: float64

In [21]:
# Try to calculate the averages without skipping the missing values.  => NaNs appear!
df.drop(columns='Species').mean(axis=0, skipna=False)                  # 'Species' column is left out.

Sepal.Length      NaN
Sepal.Width     3.054
Petal.Length      NaN
Petal.Width       NaN
dtype: float64

#### 2.2. Detect and process the missing values:

In [22]:
# Count the missing values per column.
(df.isnull()).sum(axis=0)

Sepal.Length    1
Sepal.Width     0
Petal.Length    3
Petal.Width     1
Species         0
dtype: int64

In [23]:
# Proportion of missing values per column.
(df.isnull()).mean(axis=0)

Sepal.Length    0.006667
Sepal.Width     0.000000
Petal.Length    0.020000
Petal.Width     0.006667
Species         0.000000
dtype: float64

In [24]:
# Drop the rows with at leat one missing value.
df2 = df.dropna(axis=0)

In [25]:
df2.shape

(146, 5)

In [26]:
df2.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [27]:
# Drop the rows with less than 4 normal values.
df2 = df.dropna(axis=0, thresh = 4)
df2.shape

(149, 5)

In [28]:
# Drop the columns with at least one missing value.
df3 = df.dropna(axis=1)
df3.shape

(150, 2)

In [29]:
# Drop the columns with less than 149 normal values.
df3 = df.dropna(axis=1, thresh = 149)
df3.shape

(150, 4)

In [30]:
df3.head(3)

   Sepal.Length  Sepal.Width  Petal.Width Species
0           5.1          3.5          0.2  setosa
1           4.9          3.0          0.2  setosa
2           4.7          3.2          NaN  setosa

#### 2.3. Fill the missing values:

In [31]:
# Fill the missing values with 0.
df4 = df.fillna(value=0)
df4.count()                         # axis=0 by default.

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [32]:
# Fill the missing values using column averages.
df['Sepal.Length'] = df['Sepal.Length'].fillna(value=df['Sepal.Length'].mean())
df['Petal.Length'] = df['Petal.Length'].fillna(value=df['Petal.Length'].mean())
df['Petal.Width'] = df['Petal.Width'].fillna(value=df['Petal.Width'].mean())
df.count()                          # axis=0 by default.b

Sepal.Length    150
Sepal.Width     150
Petal.Length    150
Petal.Width     150
Species         150
dtype: int64

In [33]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5      1.400000     0.200000  setosa
1           4.9          3.0      1.400000     0.200000  setosa
2           4.7          3.2      3.777551     1.205369  setosa
3           4.6          3.1      1.500000     0.200000  setosa
4           5.0          3.6      1.400000     0.200000  setosa